.nothing-to-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 12px 0 12px;
}

.nothing-to-show-message {
  margin-bottom: 0;
}

.nothing-to-show img {
  display: block;
  width: 165px;
}
