/* landing */

.landing {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), url('../../assets/img/big-ben-1440.jpg') center/cover no-repeat;
}

.get-started {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 18px;
  max-width: 420px;
  margin: 0 auto;
}

.get-started h1 {
  line-height: 1.2;
  margin-bottom: 0;
  position: relative;
}

.get-started h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 5px;
  width: 50%;
  background-color: var(--yellow-500);
}

.get-started > p {
  text-align: center;
  margin-top: auto;
  font-size: 1.4rem;
}

.get-started .auth {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: stretch;
  margin-bottom: 10px;
}

.get-started .register {
  background-color: var(--yellow-500);
  color: var(--dark-text-color);
  display: block;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.15rem;
  transition-duration: 250ms;
}

.get-started .register:hover {
  background-color: var(--yellow-600);
}

.get-started .login {
  text-align: center;
  font-size: 1rem;
}

.get-started .login a {
  font-size: 1rem;
  color: #fff;
}

@media (min-width: 425px) {
  .landing {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), url('../../assets/img/big-ben-1920.jpg') center/cover no-repeat;
  }
}

@media (min-width: 768px) {
  .landing {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../assets/img/big-ben-2560.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .get-started {
    max-width: 600px;
    height: auto;
    margin: 0;
    align-items: flex-start;
  }

  .get-started h1 {
    font-size: 4.2rem;
    margin-top: 0;
  }

  .get-started h1 br {
    display: none;
  }

  .get-started h1:after {
    width: 60%;
    bottom: 0;
  }

  .get-started > p {
    font-size: 1.5rem;
    margin: 36px 0 30px;
    text-align: left;
  }

  .get-started .auth {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .get-started .register {
    margin-right: 10px;
  }

  .get-started .login {
    margin: 0;
  }

  .get-started .login span {
    display: none;
  }

  .get-started .login a,
  .get-started .register {
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 1.2rem;
    box-sizing: border-box;
  }

  .get-started .login a {
    text-decoration: none;
    border: 1px solid var(--yellow-500);
    color: var(--yellow-500);
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.3s;
  }

  .get-started .login a:hover {
    background-color: var(--yellow-500);
    color: var(--dark-text-color);
  }
}

@media (min-width: 1024px) {
  .get-started {
    max-width: none;
    margin-bottom: 100px;
  }

  .get-started h1 {
    font-size: 6rem;
  }

  .get-started > p {
    font-size: 1.9rem;
    margin: 46px 0 38px;
  }

  .get-started .register {
    margin-right: 15px;
  }

  .get-started .login a,
  .get-started .register {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
}

@media (min-width: 1900px) {
  .get-started h1 {
    font-size: 7rem;
  }

  .get-started > p {
    font-size: 2.2rem;
    margin: 60px 0 48px;
  }
}

/* Register & Login */

.auth-modal {
  width: 100%;
}

.register .link,
.login .link {
  font-size: 1rem;
  text-align: center;
}

#register-link,
#login-link {
  color: var(--main-text-color);
  transition-duration: 250ms;
}

#register-link:hover,
#login-link:hover {
  color: var(--yellow-500);
}

.register form input,
.login form input {
  padding: 8px 10px;
  border-radius: 8px;
  background-color: var(--bg-2);
  color: var(--main-text-color);
}

.register form > button,
.login form > button {
  border-radius: 8px;
  padding: 8px 6px;
  background-color: var(--main-color);
  transition-duration: 250ms;
}

.register form > button:hover,
.login form > button:hover {
  background-color: var(--yellow-600);
}

.login form > div:nth-child(1) {
  margin-bottom: 15px;
}

.login form > div:nth-child(2) {
  margin-bottom: 18px;
}

.register form > div {
  margin-bottom: 8px;
}

.register ::placeholder,
.login ::placeholder {
  color: var(--placeholder-color);
}

.show-password {
  position: relative;
}

.show-password .show-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 8px;
}

.show-password .eye-icon {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

div.show-password input {
  padding-right: 50px;
}

.google-sign-in {
  border: none;
  border-radius: 8px;
  padding: 9px 10px 9px 44px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9) url('../../assets/img/google-icon-64.png') no-repeat 10px center/23px;
  transition-duration: 250ms;
}

.google-sign-in:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
