#menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-1);
  padding: 16px 20px 20px 8px;
}

.menu .top {
  display: flex;
  align-items: center;
}

.menu h1 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 0 0 10px;
}

.menu h1 span {
  position: relative;
}

.menu h1 span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 70%;
  background-color: var(--main-color);
}

.close-menu {
  background-color: transparent;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 5px;
}

.close-menu .close-icon {
  transition-duration: 250ms;
}

.close-menu:hover .close-icon {
  color: var(--yellow-550);
}

.close-menu:focus {
  outline: var(--yellow-550) solid 1px;
}

.menu .menu-content {
  margin-top: 35px;
  padding-left: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item:hover .text {
  text-decoration: underline var(--danger-color);
}

.menu-item .material-symbols-rounded {
  margin-right: 10px;
}
