.all-lists-page {
  margin-top: 75px;
}

.lists {
  display: flex;
  flex-direction: column-reverse;
}

/* .list-info */

.list-info {
  display: flex;
  align-items: center;
  background-color: var(--bg-2);
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 7px 5px 7px 12px;
  cursor: pointer;
}

.list-info:hover {
  background-color: var(--bg-4);
}

.list-info .name {
  text-overflow: ellipsis;
  margin: 0;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  font-size: var(--text-size);
}

.list-info .nb-words {
  flex-shrink: 0;
  margin: 0 auto 0 6px;
  color: var(--secondary-text-color);
}

.list-info .actions {
  flex-shrink: 0;
  display: flex;
  margin-left: 15px;
}

.list-info .actions button {
  font-size: 0;
}

.list-info .actions .edit-list span,
.list-info .actions .delete-list span {
  font-size: 1.4rem;
}

.list-info .actions .edit-list {
  color: var(--main-color);
  margin-right: 8px;
}

.list-info .actions .delete-list {
  color: var(--danger-color);
}

.list-info .actions .delete-list:hover {
  background-color: rgba(201, 89, 87, 0.15);
}

/* .add-list-btn */

.add-list-btn {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 6px;
  border: 2px dashed var(--bg-3);
}

.add-list-btn:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.add-list-btn:focus {
  border: 2px dashed var(--main-color);
}

.add-list-btn .material-symbols-rounded {
  margin-right: 5px;
}

/* .list-form */

.list-form {
  margin-bottom: 6px;
}

.list-form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-form form div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}

.list-form form input {
  font-size: var(--text-size);
}

.list-form .close-list-form,
.list-form [type='submit'] {
  background-color: transparent;
  flex-basis: 0;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.list-form [type='submit'] {
  color: rgb(77, 148, 95);
}

.list-form [type='submit']:hover {
  background-color: rgba(77, 148, 95, 0.15);
}

.list-form .close-list-form {
  color: var(--danger-color);
  margin-left: 6px;
}

.list-form .close-list-form:hover {
  background-color: rgba(201, 89, 87, 0.15);
}

.list-form.edit-list {
  background-color: var(--bg-2);
  border-radius: 6px;
  padding: 7px 5px 7px 12px;
}

.list-form.edit-list form input {
  border-color: rgba(255, 255, 255, 0.3);
}

.list-form.edit-list form input:focus {
  border-color: var(--main-color);
}

.no-list-to-show {
  margin-top: 30px;
}
