.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
}

.modal {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  padding: 8px 24px 16px;
  position: absolute;
  border-radius: 6px;
  width: 100%;
  max-width: 500px;
}

.modal h2 {
  margin-top: 0;
  position: relative;
  /* text-align: center; */
}

.modal h2:after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--main-color-dark, --main-color);
  left: 0;
  bottom: 0;
  width: 45%;
}

.close-modal {
  /* position: absolute; */
  /* top: 7px; */
  /* right: 5px; */
  color: #fff;
  background-color: transparent;
  /* z-index: 100; */
  display: flex;
  margin: 0 -18px 0 auto;
}

.close-modal .close-icon {
  font-size: 32px;
  color: var(--main-text-color);
}
