.modal-overlay {
  display: flex;
  padding: 20px;
}

.modal {
  margin: auto;
  background-color: var(--bg-1);
  box-sizing: border-box;
  padding: 8px 24px 16px;
  border-radius: 6px;
  width: 100%;
  max-width: 420px;
}

.modal h2 {
  margin-top: 0;
}

.close-modal {
  color: #fff;
  background-color: transparent;
  display: flex;
  margin: 0 -18px 0 auto;
  border-radius: 6px;
}

.close-modal .close-icon {
  font-size: 32px;
  color: var(--main-text-color);
  transition-duration: 250ms;
}

.close-modal:hover .close-icon {
  color: var(--yellow-550);
}

.close-modal:focus {
  outline: var(--yellow-550) solid 1px;
}

@media all and (max-width: 425px) {
  .modal-overlay {
    padding: 10px;
  }
}
