.back-home {
  background-color: transparent;
  color: var(--main-text-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transition-duration: 250ms;
  text-decoration: underline transparent 2px;
}

.back-home:hover {
  text-decoration: underline var(--main-color) 2px;
}

.back-home span {
  font-size: 32px;
}

@media all and (min-width: 1024px) {
  .back-home span {
    font-size: 36px;
    margin-left: -5px;
  }
}
