.word-form input.bd-bottom-only {
  padding: 3px 0;
}

.word-form .word-field {
  margin-bottom: 8px;
}

.word-form .translation-field {
  margin-bottom: 10px;
}

.word-form .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.word-form .actions button:last-child {
  margin-left: 5px;
}

.word-form .actions .import-list {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-right: auto;
}

.word-form .actions .import-list span {
  margin-right: 3px;
}

.word-form .info {
  padding-left: 20px;
  margin-top: 6px;
  font-size: 0.9rem;
}

.word-form #multi-words {
  height: 100px;
}
