.app {
  padding: 5px 15px;
  max-width: 600px;
  margin: 0 auto;
}

#start-learning-mode {
  display: none;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  bottom: 15px;
  right: 15px;
  outline: none;
}

#start-learning-mode .icofont-dumbbell {
  font-size: 38px;
  display: block;
  transform: rotateZ(-40deg);
}
