body {
  margin: 0;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Nunito', sans-serif;
}

/*

1) #202124 & #313235
2) #121212 & #1e1e1e/#1f1f1f (material)
3) #212529 & #2d3136(lightest)/#2a2e32/#272b2f(darkest)

*/

.form-inline {
  display: flex;
}

.form-inline label {
  display: inline-block;
}

form label {
  display: block;
}

.invalid-message {
  color: #c0392b;
}

input.invalid {
  border: 1px solid #c0392b;
}
