/* CSS VARIABLES */

:root {
  --main-color: #ffc11e;
  --main-dark-color: #212529;

  --text-size: 1.1rem;
  --h1-size: 3.05rem;
  --h2-size: 2.44rem;
  --h3-size: 1.95rem;

  --text-weight: 400;
  --bold-text-weight: 700;
  --big-title-weight: 700;
  --title-weight: 600;

  --text-font: 'Nunito', sans-serif;
  --title-font: 'Nunito', sans-serif;
}

body.dark {
  --main-color-dark: #e1ab1d;

  --main-bg-color: var(--main-dark-color);
  --second-bg-color: #2c3034;
  --third-bg-color: #31353b;
  /* --third-bg-color: #313438; */
  /* --main-bg-color: #121212;
  --second-bg-color: #1d1d1d;
  --third-bg-color: #212121; */

  --main-text-color: rgba(255, 255, 255, 0.87); /* High-emphasis text */
  --secondary-text-color: rgba(255, 255, 255, 0.6); /* Medium-emphasis text */
  --tertiary-text-color: rgba(255, 255, 255, 0.38); /* Disabled text */
  --dark-text-color: var(--main-dark-color);
  --light-text-color: #fff;
  
  --invalid-color: #c0392b;
  --danger-color: #c95959;
}

body.light {
  --main-bg-color: #fff;
  --second-bg-color: #fff;
  --third-bg-color: #fff;

  --main-text-color: var(--main-dark-color);
  --secondary-text-color: var(--main-dark-color);
  --tertiary-text-color: var(--main-dark-color);
  --dark-text-color: var(--main-dark-color);
  --light-text-color: #fff;

  --invalid-color: #c0392b;
  --danger-color: #e40000;
}

/* END CSS VARIABLES */

/* Global styles */

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

p, a, label, input, button, div, small, textarea, input {
  font-family: var(--text-font);
}

h1 {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-weight: var(--big-title-weight);
  font-size: var(--h1-size);
}

h2, h3, h4, h5, h6 {
  font-weight: var(--title-weight);
  color: var(--main-text-color);
  font-family: var(--title-font);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: var(--main-text-color);
}

.underline-title span {
  position: relative;
}

.underline-title span:after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--main-color-dark, --main-color);
  left: 0;
  bottom: 0;
  width: 70%;
}

button {
  font-size: 1.1rem;
  cursor: pointer;
}

.dark-text {
  color: var(--dark-text-color);
}

.invalid-text {
  color: var(--invalid-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-primary {
  color: var(--main-color-dark, --main-color);
}

.bg-transparent {
  background-color: transparent;
}

b, strong {
  font-weight: var(--bold-text-weight);
}

.d-none {
  display: none;
}

.btn {
  border-radius: 6px;
  padding: 7px 6px;
  transition-duration: 0.3s;
}

.btn-text-primary {
  color: var(--main-color-dark, --main-color);
  background-color: transparent;
}

.btn-text-danger {
  color: var(--danger-color);
  background-color: transparent;
}

.btn-primary {
  background-color: var(--main-color-dark, --main-color);
  color: var(--main-dark-color);
}

.btn-outline-primary {
  color: var(--main-color-dark, --main-color);
  background-color: transparent;
  border: 1px solid var(--main-color-dark, --main-color);
}

.btn-text-danger:hover,
.btn-text-danger:focus {
  border: 1px solid var(--danger-color);
}

.btn-text-primary:hover,
.btn-text-primary:focus {
  border: 1px solid var(--main-color-dark, --main-color);
}

.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid #000;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: var(--main-dark-color);
  background-color: var(--main-color-dark, --main-color);
}

/* form */

.form-inline {
  display: flex;
}

.form-inline label {
  display: inline-block;
  margin-bottom: 0;
}

input, button, textarea {
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
}

.form-elt {
  padding: 8px 10px;
  border-radius: 6px;
  background-color: var(--second-bg-color);
  color: var(--main-text-color);
}

.form-elt::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input.bd-bottom-only {
  background-color: transparent;
  color: var(--main-text-color);
  border-width: 0 0 2px;
  border-color: var(--third-bg-color);
  transition-duration: 0.3s;
}

input.bd-bottom-only::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus,
button:focus,
textarea:focus {
  border-color: var(--main-color-dark, --main-color);
}

/* form input:focus,
form input.invalid:focus,
textarea:focus {
  border: 1px solid var(--main-color-dark, --main-color);
} */

input.bd-bottom-only:focus {
  border-color: var(--main-color-dark, --main-color);
}

form input.invalid {
  border-color: var(--invalid-color);
}

form input,
form textarea {
  font-size: 1rem;
  width: 100%;
}

form label {
  font-size: 1rem;
  display: block;
  margin-bottom: 3px;
}

form > button {
  width: 100%;
}

form .invalid-message {
  color: var(--invalid-color);
  display: block;
  margin-top: 2px;
  line-height: 1.2;
  min-height: 1em;
}
