.word-list {
  margin-top: 70px;
}

.words {
  display: flex;
  flex-direction: column;
}

.words.reverse {
  flex-direction: column-reverse;
}

.word-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-box > * {
  display: flex;
}

.word-box .word {
  flex: 2 2 0;
  justify-content: flex-end;
}

.word-box .word p,
.word-box .translation p {
  width: 100px;
  overflow-wrap: break-word;
}

.word-box .separator {
  flex: 0 0 50px;
  justify-content: center;
}

.word-box .translation {
  flex: 2 2 0;
}

.words.hide-right-part .word-box .translation:not(.show) p {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.words.hide-right-part .word-box .translation:not(.show) p span {
  opacity: 0;
}
