.page-not-found {
  margin-top: 50px;
  padding: 0 20px;
}

.page-not-found img {
  width: 20%;
}

.page-not-found .nothing-to-show-message {
  font-size: 2.4rem;
  text-align: center;
}

.page-not-found .go-home {
  display: block;
  font-size: 1.2rem;
  margin-top: 18px;
}

@media all and (max-width: 1800px) {
  .page-not-found img {
    width: 25%;
  }
}

@media all and (max-width: 1500px) {
  .page-not-found .nothing-to-show-message {
    font-size: 2rem;
  }
}

@media all and (max-width: 1300px) {
  .page-not-found img {
    width: 30%;
  }

  .page-not-found .nothing-to-show-message {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 1050px) {
  .page-not-found img {
    width: 35%;
  }
}

@media all and (max-width: 850px) {
  .page-not-found .nothing-to-show-message {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 600px) {
  .page-not-found img {
    width: 45%;
  }
}

@media all and (max-width: 550px) {
  .page-not-found .nothing-to-show-message {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 500px) {
  .page-not-found img {
    width: 50%;
  }

  .page-not-found .nothing-to-show-message {
    margin-top: 22px;
  }

  .page-not-found .go-home {
    margin-top: 22px;
  }
}

@media all and (max-width: 400px) {
  .page-not-found {
    margin-top: 40px;
  }

  .page-not-found .nothing-to-show-message {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 320px) {
  .page-not-found {
    margin-top: 30px;
    padding: 0 15px;
  }

  .page-not-found img {
    width: 60%;
  }

  .page-not-found .go-home {
    font-size: 1.1rem;
  }
}
